body {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 15px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 15px;
}

figcaption {
  font-size: 14px;
  padding-bottom: 30px;
}

p {
  font-size: 100%;
  line-height: 2em;
}

.author {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 30px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  margin: 30px;
  width: 100%;
  padding: 20px;
}

.medium-pic {
  width: 300px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

ul {
  list-style-type: none;
  float: right;
}

li a {
  float: right;
  padding: 30px;
  text-decoration: none;
}

a:link { color:#0000FF; } /* unvisited */
a:visited { color:#0000FF; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected */

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}


.container {
  margin: 0 auto;
  width: 50%;
}
